
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("p").fadeOut().fadeIn();
    });
</script>
<p>
    Electronic Funds Processing System
</p>
