@{
    ViewBag.Title = "Electronic Funds Processing System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        go();
        setInterval(go, 1000);
        $("#PeopleTable").jqGrid({
            url: 'Home/ExampleTable',
            datatype: "json",
            colNames: ['First Name', 'Last Name'],
            colModel: [
                { name: 'FirstName', index: 'FirstName' },
                { name: 'LastName', index: 'LastName' }
            ],
            viewrecords: true,
            sortorder: "desc",
            caption: "EFPS Example"
        });
    });
    function go() { $("p").fadeOut().fadeIn(); }
</script>
<style>
    td, th
    {
        text-align: left;
        padding: 5px;
    }
</style>
<p>
    Electronic Funds Processing System
</p>
<table id="PeopleTable"></table>

